.bg-rain {
  background: url('https://services.meteored.com/img/article/o-que-significa-realmente-a-percentagem-de-chuva-numa-aplicacao-do-tempo-meteorologia-1679524320171_512.jpg') no-repeat center center/cover;
}

.bg-cloud {
  background: url('https://www.shutterstock.com/image-vector/blue-sky-cloud-nature-beautiful-600nw-2472495907.jpg') no-repeat center center/cover;
}

.bg-clear {
  background: url('https://media.istockphoto.com/id/1007768414/photo/blue-sky-with-bright-sun-and-clouds.jpg?s=612x612&w=0&k=20&c=MGd2-v42lNF7Ie6TtsYoKnohdCfOPFSPQt5XOz4uOy4=') no-repeat center center/cover;
}

.bg-default {
  background: url('https://media.istockphoto.com/id/1007768414/photo/blue-sky-with-bright-sun-and-clouds.jpg?s=612x612&w=0&k=20&c=MGd2-v42lNF7Ie6TtsYoKnohdCfOPFSPQt5XOz4uOy4=') no-repeat center center/cover;
}

.min-vh-100 {
  min-height: 100vh;
}
