<div class="container-fluid vh-100">
  <div class="row h-100">
    <div class="col-6 d-flex align-items-center justify-content-center custom-bg text-white">
      <img [src]="logo" alt="">
    </div>
    <div class="col-6 d-flex align-items-center border-0 justify-content-center">
      <div class="col-10 col-sm-8 col-md-6 col-lg-8">
        <div class=" border-0 p-4">
          <h2 class="mb-4">Password Reset</h2>
          <span class="opacity-75">Your password has been successfully reset. Click Confirm to reset new Password</span>
          <button type="submit" class="btn custom-bg mt-4 w-100 text-white" (click)="confirm()">Confirm</button>
        </div>
      </div>
    </div>
  </div>
</div>
