<!-- <div class="main-layout">
  <section class="sidebar ms-1 my-1" *ngIf="expanded">
    <app-sidebar></app-sidebar>
  </section>
  <section class="gap-1 my-1 me-1">
    <section class="header">
      <app-header></app-header>
    </section>
    <section class="dynamic-content dynamic">
      <div class="mt-2 container-fluid">
        <router-outlet></router-outlet>
      </div>
    </section>
    <section class="footer">
      <app-footer></app-footer>
    </section>
  </section>
</div> -->


<div class="main-layout">
  <section class="header">
    <app-header></app-header>
  </section>
  <div class="content-layout">
    <section class="sidebar">
      <app-sidebar></app-sidebar>
    </section>
    <section class="dynamic-content container-fluid card">
      <div class="scroll-container">
        <router-outlet></router-outlet>
      </div>
    </section>
  </div>
</div>


