<div class="container-fluid vh-100">
  <div class="row h-100">
    <div class="col-6 d-flex align-items-center justify-content-center custom-bg text-white">
      <img [src]="logo" alt="">
    </div>
    <div class="col-6 d-flex align-items-center border-0 justify-content-center">
      <div class="col-10 col-sm-8 col-md-6 col-lg-8">
        <div class=" border-0 p-4">
          <h2 class="mb-4">Set New Password</h2>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="input-group mb-3 position-relative">
              <span class="input-group-text border"><i class="fas fa-lock"></i></span>
              <input type="text" class="form-control" id="loginId" placeholder="Password" formControlName="password">
            </div>
            <div class="input-group mb-3 position-relative">
              <span class="input-group-text border"><i class="fas fa-lock"></i></span>
              <input type="text" class="form-control" id="loginId" placeholder="Confirm Password" formControlName="confirmPassword">
            </div>
            <button type="submit" class="btn custom-bg w-100 text-white">Update Password</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
