<div class="container-fluid vh-100">
  <div class="row h-100">
    <div class="col-12 col-xxl-6 col-xl-6 text-center col-lg-6 col-md-6 col-sm-12 align-content-center justify-content-center ms-0 text-white custom-bg">
      <img [src]="logo" alt="Logo">
    </div>
    <div class="col-12 col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 align-content-center border-0 justify-content-center">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <div class=" border-0 p-xxl-5 p-xl-5 p-lg-5 p-md-4 p-3">
            <h2 class="mb-4">
              Enter OTP
            </h2>
            <div class="d-flex justify-content-center mb-3">
              <input type="text" class="form-control text-center otp-input mx-1" maxlength="1" #input1 (input)="moveToNext(input1, input2)" (keydown.backspace)="moveToPrevious(input1, null)" pattern="[0-9]*" inputmode="numeric">
              <input type="text" class="form-control text-center otp-input mx-1" maxlength="1" #input2 (input)="moveToNext(input2, input3)" (keydown.backspace)="moveToPrevious(input2, input1)" pattern="[0-9]*" inputmode="numeric">
              <input type="text" class="form-control text-center otp-input mx-1" maxlength="1" #input3 (input)="moveToNext(input3, input4)" (keydown.backspace)="moveToPrevious(input3, input2)" pattern="[0-9]*" inputmode="numeric">
              <input type="text" class="form-control text-center otp-input mx-1" maxlength="1" #input4 (input)="moveToNext(input4, input5)" (keydown.backspace)="moveToPrevious(input4, input3)" pattern="[0-9]*" inputmode="numeric">
              <input type="text" class="form-control text-center otp-input mx-1" maxlength="1" #input5 (input)="moveToNext(input5, input6)" (keydown.backspace)="moveToPrevious(input5, input4)" pattern="[0-9]*" inputmode="numeric">
              <input type="text" class="form-control text-center otp-input mx-1" maxlength="1" #input6 (input)="moveToNext(input6, null)" (keydown.backspace)="moveToPrevious(input6, input5)" pattern="[0-9]*" inputmode="numeric">
            </div>
            <button class="btn otp-btn-primary w-100 mb-3 semiBold_20 mt-3 custom-bg"
              (click)="mergeInputs(input1.value, input2.value, input3.value, input4.value, input5.value, input6.value)">
              LOGIN
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



