<div class="container-fluid vh-100">
  <div class="row h-100">
    <div class="col-6 d-flex align-items-center justify-content-center custom-bg text-whitecol-12 col-xxl-6 col-xl-6 text-center col-lg-6 col-md-6 col-sm-12 align-content-center justify-content-center ms-0 text-white custom-bg">
      <img [src]="logo" alt="">
    </div>
    <div class="col-12 col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 align-content-center border-0 justify-content-center">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <div class=" border-0 p-xxl-5 p-xl-5 p-lg-5 p-md-4 p-3">
            <h2 class="mb-4">Forgot Password</h2>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="input-group mb-3 position-relative">
                <span class="input-group-text border"><i class="fas fa-envelope"></i></span>
                <input type="text" class="form-control" id="loginId" placeholder="Enter Your Email" formControlName="mobile">
              </div>
              <button type="submit" class="btn custom-bg w-100 text-white">Reset Password</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
