<div class="d-flex justify-content-between mb-3">
  <button class="btn btn-sm bg-primary text-white" (click)="toggleListening()">
    {{ isListening ? 'Stop' : 'Start' }} Listening
  </button>
  <button class="btn btn-sm bg-danger text-white" (click)="clearConversation()">
    Clear Conversation
  </button>
</div>



<p class="mt-2" *ngIf="transcript">voice text: <strong>{{ transcript }}</strong></p>

<div *ngIf="transcript">
  <button class="btn btn-sm bg-info text-white me-3" (click)="speakText(transcript)">🔊 Speak</button>
  <button class="btn btn-sm bg-danger text-white" (click)="stopSpeaking()">🛑 Stop</button>
</div>

<hr />

<h5 *ngIf="conversationHistory.length">Conversation History</h5>
<ul class="list-group">
  <li *ngFor="let text of conversationHistory" class="list-group-item">
    <div class="row align-items-center">
      <div class="col-md-9 mb-2 mb-md-0" >
        {{ text }}
      </div>
      <div class="col-md-3 text-md-end">
        <button class="btn btn-sm btn-info me-2 mb-1" (click)="speakText(text)">🔊 Speak</button>
        <button class="btn btn-sm btn-danger mb-1" (click)="stopSpeaking()">🛑 Stop</button>
      </div>
    </div>
  </li>
</ul>

